.App {
  font-family: sans-serif;
  text-align: center;
  font-family: ubuntu;
}

.App h1 {
  color: red;
}

.App ul {
  color: rgb(16, 118, 151);
  list-style: none;
}

.App li {
  padding: 5px;
}
.App img {
  width: 12em;
  height: auto;
  padding: 5px;
}

.Task1 {
  text-align: center;
  margin-top: 100px;
  font-family: ubuntu;
}
